@import 'src/styles/vars';
.suggestions-container {
  padding: 0 1rem;
  min-height: 75vh;

  .redirect-mood-link {
    display: inline-block;
    padding: 0.5rem;
    color: $light-default-color;
    border-bottom: 1px solid $light-default-color;
    box-shadow: inset 0 -1px 0 $light-default-color;
    transition: background 0.5s cubic-bezier(.33,.66,.66,1);

    &:hover {
      background: $light-default-color;
      color: $light-main-color;
    }
  }
 
  .title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    
  }
  .suggestion-container {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    padding-left: 1rem;
    .picture-activity {

      .picture {
       width: 100px;
       border: 2px solid blue;
       border-radius: 50%;
      }
    }

    .suggestion {
      width: 160px;
      padding-left: 0.5rem;
      flex-wrap: wrap;
      h3 {
     
      }
      p {
        padding-left: 2rem;
      }
    }
   
  }
}

@media screen and (min-width: 768px) {
  .suggestions-container {
    padding-top: 8rem;
    text-align: center;
    min-height: 90vh;

    .suggestions-activities {
      display: flex;
      flex-wrap: wrap;

      .suggestion-container {
        width: 40%;
        margin: 1rem;
      }
    }

  }
}
