@import 'src/styles/vars';

.suggestions {
  width: 100%;
  min-height: 75vh;
  text-align: center;

  .suggestions-title {
    font-size: 1.5rem;
    font-family: $patrick-font;
  }

  // One suggestion style
  .suggestion-container {
    background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    margin: 4rem auto;
    border-radius: $border-radius;
    width: 85%;
    height: 300px;
    position: relative;
    box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.52);


    .suggestion-picture {
      background: linear-gradient(to top, $fourth-dot, $light-default-color, $second-dot);
      border-radius: 50%;
      border: 12px solid #fff;
      width: 155px;
      height: 155px;
      position: absolute;
      top: -10%;
      right: -6%;
      overflow: hidden;

      box-shadow: 8px 8px 10px -3px rgba(0,0,0,0.52);

       & > img {
        // Icon size and position
        width: 110px;
        height: 110px;
        position: absolute;
        top: 6%;
        right: 8%;
      } 
    }

    .suggestion-budget {
      width: fit-content;
      padding: 2rem 1.5rem;
      position: relative;

      & > p {
        margin-bottom: 1rem;
      }

      & > svg {
        color: $light-default-color;
        fill: $light-default-color;
      }

      .budget-tooltip {
        //Tooltip text container
        &::before {
          position: absolute;
          top: -17%;
          left: 56%;
          background-color: #2B222A;
          border-radius: $border-radius;
          color: #fff;
          content: attr(aria-label); //This pulls in the text from the element with the tooltip
          padding: 1rem;
          transition: all 0.5s ease;
          width: fit-content;
        }

        //Tooltip arrow
        &::after {
          position: absolute;
          top: 24%;
          left: 75%;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid #2B222A;
          content: " ";
          font-size: 0;
          line-height: 0;
          margin-left: -0.3rem;
          width: 0;
        }

        //Setting up the transition
        &::before,
        &::after {
          color: #efefef;
          font-size: 1rem;
          opacity: 0;
          pointer-events: none;
          text-align: center;
        }
      }


      &:hover {
        .budget-tooltip {
          //Triggering the transition
          &:before, &:after {
            opacity: 1;
            transition: all 0.75s ease;
          }
        } 
      }

    }

    .suggestion-categories {
      text-align: center;
      width: 100%;
      margin: 1rem 0;

      .category-name {
        display: inline-block;
        background-color: $light-default-color;
        color: $light-main-color;
        border-radius: $border-radius;
        margin: 0.5rem 0.25rem;
        padding: 0.5rem;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.27) inset;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
      }
      
    }

    .suggestion-name {
      padding: 1rem;
      position: absolute;
      bottom: 5%;
      left: -5%;
      border-radius: 4px;
      color: #fff;
      width: 110%;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.27);
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
      margin-right: 1rem;
      text-transform: uppercase;
      font-weight: 600;
      background: linear-gradient(to top, $fourth-dot, $light-default-color, $second-dot);

      .suggestion-search {
        background: transparent;
        outline: none;
        border: none;
        font-size: 2rem;
        color: #fff;
        position: absolute;
        bottom: 5%;
        right: 5%;

        &:after {
          content: '\f059';
          font-family: 'FontAwesome';
          font-size: 2.5rem;
        }
      }

    }
  }
}

@media screen and (min-width: 460px) {
  .suggestion-container {
    .suggestion-budget {
      display: flex;
      align-items: center;
      margin-left: 3rem;
      width: 70%;
      font-size: 1.2rem;

      & > p {
        margin: 1rem 2rem 0 0;
      }

      & > svg {
        width: 30px;
        height: 30px;
      }
    }

    .category-name {
      font-size: 1.5rem;
    }
    
  }
}

@media screen and (min-width: 768px) {
  .suggestions {
    min-height: 90vh;
    padding-top: 10rem;

    .suggestions-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .suggestion-container {
        width: 40%;

        .suggestion-budget {
          display: block;
          margin: 0rem;

          & > p {
            padding-left: 1.5rem;
          }
        }

        .category-name {
          font-size: 0.9rem;
        }

        .suggestion-name {
          width: 110%;
        }  
      }
    }
  }
}


@media screen and (min-width: 1024px) {
  .suggestions {

    .suggestions-wrapper {
      margin-top: 2rem;

      .suggestion-container {
        width: 35%;
        margin: 2.5rem;

        .suggestion-budget {
          display: flex;

        }

        .suggestion-categories {
          .category-name {
            font-size: 1.3rem;
          }
        }
        .suggestion-name {
          font-size: 1.3rem;
        }  
      }
    }
  }
}


@media screen and (min-width: 2000px) {
  .suggestions {
    .suggestions-wrapper {
      .suggestion-container {
        width: 25%;
        margin: 3rem;
        .suggestion-categories {
          .category-name {
            margin: .5rem 0.25rem;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
