@import 'src/styles/vars';

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  
  list-style-type: none;
  background-color: $light-main-color;
  padding: 2rem 0;

  .footer-nav {
    display: flex;
    justify-content: center;

    .footer-li {
      margin-right: 1rem;

      .footer-link {
        text-decoration: underline;

        &:hover {
          color: white;
        }
      }
    }
  }
}
