@import 'src/styles/vars';
@import 'src/styles/btn';

.mood {
  /* overlay */
  background-color: rgba(#7F8C8D, 0.8);
  min-height: 100vh;
  min-width: 100vw;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .mood-form {
    background-color: $light-main-color;
    border-radius: $border-radius;
    display: inline-block;
    min-width: 95%;
    max-height: 85%;
    overflow: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    text-align: center;

    .mood-wrapper {
      text-align: center;

      .mood-title {
        font-weight: 600;
        font-family: $patrick-font;
        font-size: 1.5rem;
        margin: 1rem 0;
      }

      .mood-icons {
        .mood-img {
          margin: 0.6rem;
          margin-bottom: 1rem;
          position: relative;
          display: inline-block;

          .mood-img-input {
            display: none;
          }
          .mood-tooltip {
            //Tooltip text container
            &::before {
              position: absolute;
              top: -4rem;
              left: 0rem;
              background-color: #2B222A;
              border-radius: $border-radius;
              color: #fff;
              content: attr(aria-label); //This pulls in the text from the element with the tooltip
              padding: 1rem;
              transition: all 0.5s ease;
              width: 100px;
            }

            //Tooltip arrow
            &::after {
              position: absolute;
              top: -1.1rem;
              left: 2.5rem;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-top: 10px solid #2B222A;
              content: " ";
              font-size: 0;
              line-height: 0;
              margin-left: -0.3rem;
              width: 0;
            }

              //Setting up the transition
              &::before,
              &::after {
                color: #efefef;
                font-size: 1rem;
                opacity: 0;
                pointer-events: none;
                text-align: center;
              }
          }

          &:hover {
            transform: scale(1.2);
            .mood-tooltip {
              //Triggering the transition
              &:before, &:after {
                opacity: 1;
                transition: all 0.75s ease;
              }
            } 
          }

          .mood-checked {
            position: absolute;
            bottom: -12%;
            right: -7%;
            background-color: #21bf73;
            border-radius: 50%;
            padding: 0.5rem;
            display: none;

            &:after {
              content: '\f00c';
              font-family: 'FontAwesome';
              color: #fff;
              font-size: 1.5rem;
            }
          }

          // display span if input is checked
          .mood-img-input:checked ~ .mood-checked {
            display: block;
          }
        }
      }
    }

    .stars {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
   
    input.star{
      display: none;
    }
    
    .star {
      padding: 0.6rem;
      font-size: 1.5rem;
      color: #444;
      transition: all .2s;
      float: right;
    }

    
    input.star:checked ~ label.star:before {
      content:'\f005';
      color: #eeb140;
      transition: all .25s;
    }
    
    input.star-3:checked ~ label.star:before {
      color:#F62;
      text-shadow: 0 0 20px #952;
    }
    
    input.star-1:checked ~ label.star:before {
      color: #FE7;
    }
    
    label.star:hover{
      transform: rotate(-5deg) scale(1.2);
    }
    
    label.star:before{
      content:'\f006';
      font-family: FontAwesome;
      font-size: 2.2rem;
    }

    .submit-button {
      @include btn-style;
      width: fit-content;
    }
    
  }
}
