@import 'src/styles/vars';
@import 'src/styles/btn';

.mood {
  /* overlay */
  background-color: rgba(#7F8C8D, 0.8);
  min-height: 100vh;
  min-width: 100vw;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .mood-form {
    background-color: $light-main-color;
    border-radius: $border-radius;
    min-width: 95%;
    min-height: 85%;
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-60%, -60%);
    padding: 2rem;

    .moods {
      text-align: center;

      .moods-title {
        font-weight: 600;
        font-family: $patrick-font;
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }

      .moods-icons {

      }
    }

    .stars {
      display: flex;
      flex-direction: column;
    }
   
    input.star{
      display: none;
    }
    
    .star {
      float: right;
      padding: 10px;
      font-size: 2.5rem;
      color: #444;
      transition: all .2s;
    }
    
    input.star:checked ~ label.star:before {
      content:'\f005';
      color: #F62;
      transition: all .25s;
    }
    
    input.star-3:checked ~ label.star:before {
      color:#FD4;
      text-shadow: 0 0 20px #952;
    }
    
    input.star-1:checked ~ label.star:before {
      color: #FE7;
    }
    
    label.star:hover{
      transform: rotate(-5deg) scale(1.2);
    }
    
    label.star:before{
      content:'\f006';
      font-family: FontAwesome;
    }

    .submit-button {
      @include btn-style;
    }
    
  }
}

@media screen and (min-width: 768px) {

}
