@import 'src/styles/vars';
@import 'src/styles/btn';

.login {
  min-height: 60vh;
  text-align: center;
  padding-top: 5rem;

  .login-title {
    text-transform: uppercase;
    font-size: 1.2rem;
    background-color: #150d33;
    color: #fff;
    margin: auto;
    width: 90%;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
    padding: 1rem 0;
  }

  .login-form {
    width: 90%;
    margin: auto;
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: rgba(#e6e6e6, 0.7);
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  
    .input-container {
      position: relative;
      margin-top: 2rem;
  
      .login-input {
        width: 100%;
        padding: 10px 0;
        font-size: 1.2rem;
        color: $light-text;
        font-family: $dosis-font;
        margin-bottom: 2rem;
        border: none;
        border-bottom: 1px solid $light-default-color;
        outline: none;
        background: transparent;
      }
  
      .login-label {
        position: absolute;
        top: 0%;
        left: 0;
        padding: 10px 0;
        font-size: 1rem;
        font-weight: 600;
        color: #150d33;
        transition: .5s ease;
      }

      .login-input:focus ~ .login-label,
      .login-input:valid ~ .login-label {
        top: -30%;
        color: $light-default-color;
      }
    }
  
    .login-button {
      @include btn-style;
    }
  
  }
  .login-redirect {
    display: inline-block;
    padding: 0.5rem;
    color: $light-default-color;
    box-shadow: inset 0 -1px 0 $light-default-color;
    transition: background 0.5s cubic-bezier(.33,.66,.66,1);

    &:hover {
      background: $light-default-color;
      color: $light-main-color;
    }
  }
}

@media screen and (min-width: 768px) {
  .login {
    min-height: 90vh;
    padding-top: 10rem;

    .login-title {
      width: 30%;
    }

    .login-form {
      padding: 1.5rem;
      width: 30%;
    }

  }

}
